*{
    margin:0px;
    padding: 0px;
    font-family: "Averia Serif Libre", serif;
    
}
html {
  scroll-behavior: smooth;
}
.navbarmaster
{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px rgba(0, 0, 0, 0.164);
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: relative;
   
}
.brandname
{
    border: 1px solid;
    
    font-weight: 300;
    padding: 5px 5px;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    position: relative;
    
}
.brandname:hover
{
    transform: scale(1.2);
}
.nevmenu
{
    text-decoration: none;
    list-style: none;
    display: flex;
    /* justify-content: center; */
    gap: 10px;
    align-items: center;
    position: relative;

}
.icons
{
    align-items: center;
    cursor: pointer;
    display:none ;
    font-size: 20px;
   
    
    
}
#check
{
    display: none;
}

.link
{
    text-decoration: none;
    color: black;
}
.heroimage
{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 700px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    background-color: #e2e2e2;
    /* padding-bottom: 10px; */
}
.products
{

    display: flex;
    flex-direction:column;
    background-color: #e2e2e2;
    padding: 30px 100px;
    /* gap: 50px; */
    /* justify-content: space-between; */
    
}
.productscard
{
    display: flex;
    gap: 60px;
    padding: 40px;
    margin: 10px 30px 10px 40px;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1200px;
    margin: 0 auto; */
}
.productsimage
{
    object-fit: cover;
    width: 40%;
    height: 400px;
    border-radius: 20px;
}
.productstext
{
    align-items: center;
    height: 40%;
    width: 40%;
    font-weight: 100;
    }
.productheading
{
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: left;
}
.productspara
{
    
     font-family: "Roboto Slab", serif;
    font-weight: 400;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button
{
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    padding: 5px 5px;
    
}
.button:hover
{
    transform: scale(1.2);
}
.footer
{
    padding-top: 10px;
    background-color: #333333;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 100;
    font-family: "Roboto Slab", serif;
}
.sociallink
{
    margin-top: 10px;
    padding-bottom: 10px;
}
/* RESPONSIVE */
@media (max-width:768px)
{
    .navbar
    {
        padding: 1rem 5%;
    }
    
    .icons
    {
        display: flex;
    }
    #cancelIcon
    {
        display: none;
    }
    #check:checked~.icons #menuIcon
    {
        display:none;
    }
    #check:checked~.icons #cancelIcon
    {
        display: block;
    }
  
    .nevmenu
    {
        position: absolute;
        top: 100%;
        width: 100%;
        flex-direction: column;
        left: 0%;
        display: none;
        background-color: #ffffffd2;
        backdrop-filter: blur(10px);
    }
    #check:checked~ .nevmenu
    {
        display: block;
    }
    .links
    {
        text-align: center;
        margin: 5px 0px;
    }
    .products
    {
        padding: 0px;
    }
    .productscard
    {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }
    .productsimage
    {
        width: 100%;
        height: auto;
        
    }
    #productscard
    {
        display: flex;
        flex-direction: column-reverse;
         
    }
    .productstext
    {
        height: auto;
        width: auto;
        
        
    }
    .productspara
    {
        justify-content: center;
        text-align: center;
    }
    .productheading
    {
        text-align: center;
        margin: 0px;
    }
    .productstext
    {
        text-align: center;
    }
    .button
    {
        margin: 0 auto;
    }
}